# Crappy Gifts
---

**Purpose:**

Make your own dataset to understand structured queries

In [ ]:
import random

# datetime libraries
import datetime
from datetime import time

# assign current date and time
current_date = datetime.date.today()
current_time = datetime.datetime.now()

# check datetime information
print('Current datetime is',current_time)
print('Today is', datetime.datetime.strftime(current_date, '%A, %m/%d/%Y'))
print('The time is', datetime.datetime.strftime(current_time, '%I:%M:%S %p'))

In [ ]:
import pandas as pd
import numpy as np

## Create Fake Reference Data

Structures based on your business reporting requirements

In [ ]:
dept_id = [41, 42, 43, 44, 45]
dept_name = ['Electronics', 'Housewares', 'Foodstuffs', 'Clothing', 'Toys']

ddf = pd.DataFrame(zip(dept_id, dept_name),
                   columns=['dept_id', 'dept_name'])

ddf.to_csv('deparments.csv',index=None)
ddf

In [ ]:
product_id = []

for x in range(635, 646):
    product_id.append(x)
    
product_name = ['Blinking Robot', '27in televsion', 'Laptop', '8 x 10 Rug', '14pc Cutlery Set',
                'Stuffed Alien - Grey', 'Mint Creme Cookies', 'Kale Chips', 'Baseball Caps',
                'Shoes', 'XL Hoodies']
depts = [45, 41, 41, 42, 42, 45, 43, 43, 44, 44, 44]

pdf = pd.DataFrame(zip(product_id, product_name, depts),
                   columns=['product_id', 'product_name', 'dept_id'])

pdf.to_csv('products.csv', index=None)
pdf

In [ ]:
product_id = [x for x in range(635, 646)]
product_price = [10, 500, 299, 100, 80, 25, 15, 18, 13, 21 ,65]
product_margin = [round(random.random(),4) for x in range(len(product_price))]

rdf = pd.DataFrame(zip(product_id, product_price, product_margin),
                   columns=['product_id', 'product_price', 'product_margin'])

rdf.to_csv('prices.csv', index=None)
rdf

In [ ]:
employee_id =  [x for x in range(1,11)]
employee_fname = ['Aiden', 'Khalessi', 'Unique', 'Hattie', 'Jes', 'Kira', 'Pat', 'Leslie', 'Jill', 'Adam']
employee_location = ['NY', 'TX', 'CA', 'CA', 'OH', 'OH', 'OH', 'OH', 'MI', 'PR']

edf = pd.DataFrame(zip(employee_id, employee_fname, employee_location),
                   columns=['employee_id', 'employee_fname', 'employee_location'])

edf.to_csv('employees.csv', index=None)
edf

In [ ]:
locations = (
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT',
    'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN',
    'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
    'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV',
    'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH',
    'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN',
    'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI',
    'WY', 'PR', 'GU', 'VI', 'AS', 'MP', 'DC',
)

In [ ]:
clients = [
    'SHLD', 'AMD', 'COG', 'HMC', 'PFE', 'KO', 'FANG', 'NVS',
    'ULTA', 'ALK', 'TM', 'BUD', 'CXO', 'ACN', 'MA', 'WHR',
]

## Create Real Reference Data

Using generally accepted structure from external data sources

In [ ]:
# states master data
# includes District of Columbia
# includes four US territories (GU, VI, AS, MP)

fips = (1, 2, 4, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
        25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
        44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 72, 66, 78, 60, 69, 11)

state = ('Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
         'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
         'Kentucky', 'Louisiana',  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
         'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
         'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
         'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
         'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
         'Puerto Rico', 'Guam', 'U.S. Virgin Islands', 'American Samoa', 'Northern Mariana Islands',
         'District of Columbia')

abbr = ('AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI',
        'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI',
        'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
        'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
        'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR', 'GU', 'VI', 'AS', 'MP',
        'DC')

regs = ('South', 'West', 'West', 'South', 'West', 'West', 'Northeast', 'South', 'South', 'South',
        'West', 'West', 'Midwest', 'Midwest', 'Midwest', 'Midwest', 'South', 'South', 'Northeast',
        'South', 'Northeast', 'Midwest', 'Midwest', 'South', 'Midwest', 'West', 'Midwest', 'West',
        'Northeast', 'Northeast', 'West', 'Northeast', 'South', 'Midwest', 'Midwest', 'South',
        'West', 'Northeast', 'Northeast', 'South', 'Midwest', 'South', 'South', 'West', 'Northeast',
        'South', 'West', 'South', 'Midwest', 'West', 'South', 'South', 'South', 'South', 'South',
        'South')

divs = ('East South Central', 'Pacific', 'Mountain', 'West South Central', 'Pacific',
        'Mountain', 'New England', 'South Atlantic', 'South Atlantic', 'South Atlantic',
        'Pacific', 'Mountain', 'East North Central', 'East North Central', 'West North Central',
        'West North Central', 'East South Central', 'West South Central', 'New England',
        'South Atlantic', 'New England', 'East North Central', 'West North Central', 
        'East South Central', 'West North Central', 'Mountain', 'West North Central', 'Mountain',
        'New England', 'Middle Atlantic', 'Mountain', 'Middle Atlantic', 'South Atlantic',
        'West North Central', 'East North Central', 'West South Central', 'Pacific',
        'Middle Atlantic', 'New England', 'South Atlantic', 'West North Central',
        'East South Central', 'West South Central', 'Mountain', 'New England',
        'South Atlantic', 'Pacific', 'South Atlantic', 'East North Central', 'Mountain',
        'South Atlantic', 'Pacific','South Atlantic', 'Pacific', 'Pacific',
        'South Atlantic')

seat = (7, 1, 9, 4, 53, 7, 5, 1, 27, 14, 2, 2, 18, 9, 4, 4, 6, 6, 2, 8, 9, 14,
        8, 4, 8, 1, 3, 4, 2, 12, 3, 27, 13, 1, 16, 5, 5, 18, 2, 7, 1, 9, 36, 4,
        1, 11, 10, 3, 8, 1, 0, 0, 0, 0, 0, 0)

In [ ]:
states_df = pd.DataFrame.from_dict(
    {
        'statefp': fips,
        'stname': state,
        'location_id': abbr,
        'region': regs,
        'division': divs,
        'seats':seat,
    }
)

states_df.info()

states_df.to_csv('usstates.csv', index=None)

In [ ]:
URL = 'https://www2.census.gov/geo/docs/reference/cenpop2010/CenPop2010_Mean_ST.txt'

census2010 = pd.read_csv(URL)

census2010.info()

In [ ]:
census2010.head()

In [ ]:
census2010.rename(columns={'STATEFP':})

## Create Transaction Data

In [ ]:
start_date, end_date = '2010-01-01', '2021-01-01'

current_date = datetime.datetime.now()

N = 12000

np.random.RandomState(seed=7)

tdf = pd.DataFrame(
    
    {
        'trans_date':np.random.choice(np.arange(start_date, end_date, dtype='datetime64[D]'), size=N),
        'product_id':np.random.choice(product_id, size=(N,)),
        'location_id':np.random.choice(locations, size=(N,)),
        'employee_id':np.random.choice(employee_id, size=(N,)),
        'client_id':np.random.choice(clients, size=(N,)),
        'sales_hrs':np.random.choice(np.arange(1,17,1, dtype='int64'), size=N),
        'sales_tot':np.random.normal(loc=1000, scale=20, size=N).round(2)
    }
    
)

tdf['docs_date'] = current_date.strftime("%Y-%m-%d %H:%M:%S")
tdf['forecasts'] = np.where(tdf['trans_date'] <= current_date, False, True)
tdf.loc[tdf['trans_date'].dt.year == 2015, ['sales_tot']] = tdf['sales_tot'] * .65

em = tdf['employee_id'] == 'Leslie'
dt = tdf['trans_date'].between("2012-02-17", "2014-07-31")

tdf.loc[em & dt, ['sales_hrs', 'sales_tot']] = 0

tdf.dropna(axis=0, inplace=True)

tdf.info()

In [ ]:
tdf.to_csv('transactions.csv', index=None)
tdf.head(10)

In [ ]:
crappy_gifts = tdf.merge(pdf).merge(rdf).merge(ddf).merge(edf).merge(states_df)
crappy_gifts.head()

In [ ]:
crappy_gifts.isna().sum()

In [ ]:
crappy_gifts.to_excel("crappy_gifts_usa.xlsx", index=None)