In [1]:
using Printf
using Dates
using LinearAlgebra

In [2]:
interest_rate = 4.7

4.7

In [3]:
current_date = Dates.format(now(), "Y-mm-dd HH:MM:SS")

"2021-12-20 21:27:09"

In [4]:
count_all = Int64[]

Int64[]

In [5]:
sum_all = Float64[]

Float64[]

In [6]:
io = open("loans.csv", "w")

write(io, "LOAN,TERM,INTEREST,MONTHLY,STATUS,DATE\n")

for present_value = 25000:1000:29000, number_periods = 24:12:72
    
    irr = interest_rate/100/12
    
    monthly_payment = round((irr * present_value) / (1 - (1 + irr)  ^ -number_periods) * 100) / 100
    
    if monthly_payment <= 500
        payment_status = "low"
    elseif monthly_payment >= 600
        payment_status = "high"
    else
        payment_status = "ok"
    end
    
    @printf("%d, %d, %.1f, %.2f, %s, %s\n",
        present_value,
        number_periods,
        interest_rate,
        monthly_payment,
        payment_status,
        current_date
    )
    
    write(io, "$present_value,$number_periods,$interest_rate,$monthly_payment,$payment_status,$current_date\n")
    
    push!(count_all, 1)
    
    push!(sum_all, monthly_payment)
    
end

close(io)

@printf("\nTotal records: %d & total payments %.2f\n", sum(count_all), sum(sum_all))

25000, 24, 4.7, 1093.43, high, 2021-12-20 21:27:09
25000, 36, 4.7, 745.91, high, 2021-12-20 21:27:09
25000, 48, 4.7, 572.34, ok, 2021-12-20 21:27:09
25000, 60, 4.7, 468.35, low, 2021-12-20 21:27:09
25000, 72, 4.7, 399.15, low, 2021-12-20 21:27:09
26000, 24, 4.7, 1137.17, high, 2021-12-20 21:27:09
26000, 36, 4.7, 775.75, high, 2021-12-20 21:27:09
26000, 48, 4.7, 595.23, ok, 2021-12-20 21:27:09
26000, 60, 4.7, 487.09, low, 2021-12-20 21:27:09
26000, 72, 4.7, 415.12, low, 2021-12-20 21:27:09
27000, 24, 4.7, 1180.90, high, 2021-12-20 21:27:09
27000, 36, 4.7, 805.58, high, 2021-12-20 21:27:09
27000, 48, 4.7, 618.13, high, 2021-12-20 21:27:09
27000, 60, 4.7, 505.82, ok, 2021-12-20 21:27:09
27000, 72, 4.7, 431.09, low, 2021-12-20 21:27:09
28000, 24, 4.7, 1224.64, high, 2021-12-20 21:27:09
28000, 36, 4.7, 835.42, high, 2021-12-20 21:27:09
28000, 48, 4.7, 641.02, high, 2021-12-20 21:27:09
28000, 60, 4.7, 524.55, ok, 2021-12-20 21:27:09
28000, 72, 4.7, 447.05, low, 2021-12-20 21:27:09
29000, 24, 4.7, 1268.38, high, 2021-12-20 21:27:09
29000, 36, 4.7, 865.26, high, 2021-12-20 21:27:09
29000, 48, 4.7, 663.92, high, 2021-12-20 21:27:09
29000, 60, 4.7, 543.29, ok, 2021-12-20 21:27:09
29000, 72, 4.7, 463.02, low, 2021-12-20 21:27:09

Total records: 25 & total payments 17707.61

In [7]:
pval_list = Float64[]

Float64[]

In [8]:
nper_list = Float64[]

Float64[]

In [9]:
irate_list = Float64[]

Float64[]

In [10]:
for pval = 25000:1000:29000, nper = 24:12:72
    push!(pval_list, pval)
    push!(nper_list, nper)
    push!(irate_list, 4.7)
end

In [11]:
nper_array = reshape(nper_list, 5, 5)

5×5 Matrix{Float64}:
 24.0  24.0  24.0  24.0  24.0
 36.0  36.0  36.0  36.0  36.0
 48.0  48.0  48.0  48.0  48.0
 60.0  60.0  60.0  60.0  60.0
 72.0  72.0  72.0  72.0  72.0

In [12]:
pval_array = reshape(pval_list, 5, 5)

5×5 Matrix{Float64}:
 25000.0  26000.0  27000.0  28000.0  29000.0
 25000.0  26000.0  27000.0  28000.0  29000.0
 25000.0  26000.0  27000.0  28000.0  29000.0
 25000.0  26000.0  27000.0  28000.0  29000.0
 25000.0  26000.0  27000.0  28000.0  29000.0

In [13]:
irate_array = reshape(irate_list, 5, 5)

5×5 Matrix{Float64}:
 4.7  4.7  4.7  4.7  4.7
 4.7  4.7  4.7  4.7  4.7
 4.7  4.7  4.7  4.7  4.7
 4.7  4.7  4.7  4.7  4.7
 4.7  4.7  4.7  4.7  4.7

In [14]:
function auto_loan(loan::Float64, term::Float64, interest::Float64)
    interest = interest / 100.0 /12.0
    return (interest * loan) / (1.0 - (1.0 + interest)^ -term)
end

auto_loan (generic function with 1 method)

In [15]:
auto_loan(25515.0, 72.0, 3.19)

389.83925640372223

In [16]:
# note: dot notation is needed to broadcast across all the arrays
pmt = auto_loan.(pval_array, nper_array, irate_array)
pmt

5×5 Matrix{Float64}:
 1093.43   1137.17   1180.9    1224.64   1268.38
  745.91    775.746   805.583   835.419   865.255
  572.341   595.235   618.128   641.022   663.916
  468.352   487.087   505.821   524.555   543.289
  399.154   415.12    431.086   447.052   463.018

In [17]:
typeof(pmt)

Matrix{Float64} (alias for Array{Float64, 2})